body{
  margin: 0 0 0 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  width: 30%;
  margin: 200px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:662.5% ;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  color: #66BFBF;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

hr{
  border: dotted grey 10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud{
  width: 12%;
  height:auto;
  position: absolute;
  right: 520px;
  top: 100px;
}

.middle-cloud{
  width: 5%;
  height:auto;
  position: absolute;
  right: 500px;
  bottom: 800px;
}
.bottom-cloud{
  width: 10%;
  height:auto;
  position: absolute;
  left: 500px;
  bottom: 600px;
}

.mountain{
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.air-hot-balloon{
  position: absolute;
  right: 600px;
  top: 550px;
  width: 12%;
  height: 15%
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 30px;
}
.skill-row2{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 30px;
  padding-left: 300px;
}

.c-plus-img{
  width: 25%;
  float: left;
  margin-right: 2px;
}

.html-img{
  width: 25%;
  float: left;
  margin-right: 5px;
}

.css-img{
  width: 25%;
  float: left;
  margin-right: 5px;
}

.js-img{
  width: 25%;
  float: left;
  margin-right: 5px;
}

.intro{
  width: 30%;
  margin: 0 auto 0 auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
